<div>
  <p></p>
  <ul>
    <p>Cantidad de productos: {{ list.getItems().length }}</p>
    @for (item of list.getItems(); track item.name; let id = $index) {

    <div class="card bg-slate-500 p-2 mt-4">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.price | currency }}</p>
        <button (click)="deleteItem(id)" class="bg-red-500 rounded-lg text-white p-1">Eliminar</button>
      </div>
    </div>
    }@empty {
    <p>No hay productos agregados al carrito</p>
    }
  </ul>
  <p>Total: {{ list.total() | currency}}</p>
</div>
